<!-- HEADER -->
<header>
    <nav class='nav__primary'>
        <a href='/' class='nav__primary-figure'>
            <img src="/img/logo_temporal.png" class='nav__primary-logo'>
        </a>
        <div class='nav__primary-text'>
            <% if (locals.isLogged) { %>
            <a href="user/usuarioLogin" class='nav__primary-login'>
                <div class="circulo">
                    <img src='/img/imagenusuario.jpg' class='ok'></div>
                     Hola <%= local.userLogeado.nombreUsuario %>
                    <ul>
                    <a class="nav__primary-profile" href="/user/usuario">MY PROFILE</a>
                    <li><hr class="dropdown-divider"></li>
                    <a class="nav__primary-logout" href="/user/logout">LOUGOUT</a>
                </ul>
            <% } else { %>


                <div class='nav__primary-login_text' id='login'>LOGIN</div>
            </a>
            <a href="user/usuarioRegistro" class='nav__primary-register' id='register'>
                REGISTRO
            </a>
            <% } %>
        </div>
    </nav>
</header>

<!-- SUBMENU -->
<nav class='nav__secondary'>
    <div class='search-element'>
        <input class='search-box' type='search' placeholder='Buscar...'></input>
        <button class='search-button' type='submit'>
            <i class='fas fa-search'></i>
        </button>
    </div>
    <a href="/product/marketplace" class='nav__secondary-text'>MARKETPLACE</a>
    <a href="#" class='nav__secondary-text'>RANKING</a>
    <a href="#" class='nav__secondary-cart'>
        <div class='nav__secondary-cart_text'>CART</div>
        <div class='nav__secondary-cart_element'><i class='fas fa-shopping-cart'></i></div>
    </a>
</nav>