<header>
    <nav>
        <section class='nav__primary'>
            <div class='nav__primary-figure'>
                <img 
                    src="/img/logo_temporal.png"
                    class='nav__primary-logo'
                />
            </div>
            <ul>
                <li>
                    <a>
                        <i class='fas fa-user'></i>
                    </a>
                </li>
                <li>
                    <span id='login'>LOGIN</span>
                </li>
                <li>
                    <span id='register'>REGISTRO</span>
                </li>
            </ul>
        </section>

        <!-- SUBMENÚ -->
        <section class='nav__secondary'>

            <input id='busqueda'></input>
            <li>
                <i class='fas fa-search'></i>
            </li>
            <li><a href = "#"> MARKETPLACE </a></li>
            <li><a href = "#/usuario.html"> RANKING </a></li>
            <li><a href = "#"> CART <i class='fas fa-shopping-cart'></i></a></li>
        </section>
    </nav>   
</header>