<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href ="css/styles.css", rel="stylesheet">
    <title>NFTART</title>
</head>

    <header>
        <img src="imagenes/logo_temporal.png">
        <H1> NFTART / El mercado de NFT en America Latina</H1>

        <ul>
            <nav>
                <ul><a href = "#"> LOGIN / REGISTRO </a></ul>
                <ul><a href = "#"> MARKETPLACE </a></ul>
                <ul><a href = "#"> RANKING </a></ul>
                <ul><a href = "#"> CART </a></ul>
                <ul><a href = "#"> NOSOTROS </a></ul>
            </nav>
        </ul>
        


    </header>


        <H2> Texto de Bienvenida </H2>


    <section>
        <H3> CATEGORIAS </H3>
    </section> 

    <article>



    </article>


    <footer>
        <ul>
            <nav>
                <ul><a href = "#"> LOGIN / REGISTRO </a></ul>
                <ul><a href = "#"> MARKETPLACE </a></ul>
                <ul><a href = "#"> RANKING </a></ul>
                <ul><a href = "#"> BLOG </a></ul>
                <ul><a href = "#"> NOSOTROS </a></ul>
                <ul><a href = "#"> TERMINOS Y CONDICIONES </a></ul>
            </nav>
        </ul>
        
        <p>Todos los derechos reservados</p>
    </footer>

<body>
    
</body>
</html>