<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" crossorigin="anonymous"/>
    <link href ="css/producto.css", rel="stylesheet">

    <!-- FUENTES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans&family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>NFTART - Producto</title>
</head>
<body>

    <!-- HEADER -->
    <header>
        <nav class='nav__primary'>
            <a href='/home.html' class='nav__primary-figure'>
                <img src="imagenes/logo_temporal.png" class='nav__primary-logo'>
            </a>
            <div class='nav__primary-text'>
                <a href="#" class='nav__primary-login'>
                    <div class='nav__primary-element'><i class='fas fa-user'></i></div>
                    <div class='nav__primary-login_text'>LOGIN</div>
                </a>
                <a href="#" class='nav__primary-register'>
                    REGISTRO
                </a>
            </div>
        </nav>
    </header>

    <!-- SUBMENU -->
    <nav class='nav__secondary'>
        <div class='search-element'>
            <input class='search-box' type='search' placeholder='Buscar...'></input>
            <button class='search-button' type='submit'>
                <i class='fas fa-search'></i>
            </button>
        </div>
        <a href="#" class='nav__secondary-text'>MARKETPLACE</a>
        <a href="#" class='nav__secondary-text'>RANKING</a>
        <a href="#" class='nav__secondary-cart'>
            <div class='nav__secondary-cart_text'>CART</div>
            <div class='nav__secondary-cart_element'><i class='fas fa-shopping-cart'></i></div>
        </a>
    </nav>

    <main>

        <!-- PRODUCTO -->
        <section class='main_box'>
            <div class='img'>
                <div class='share'><i class="far fa-share-alt"></i></div>
                <img src='/imagenes/OPCION ARTE 1.jpg' class='img-product'>
            </div>
            <div class='main_boxes'>
                <div class='main_box-info'>
                    <div class='information1'>
                        <div class='name'>
                            <h2>NOMBRE NFT</h2>
                            <p>NFT original number 1</p>
                        </div>
                        <div class='author'>
                            <h2>AUTOR</h2>
                            <p>Grupo 2</p>
                        </div>
                    </div>
                    <div class='information2'>
                        <div class='description'>
                            <h2>DESCRIPCIÓN</h2>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores veniam sint aliquam sunt recusandae repudiandae ut ipsa sed at, consequatur labore non incidunt libero perspiciatis vitae voluptate quibusdam nostrum? Odio.</p>
                        </div>
                        <div class='theme'>
                            <h2>TEMÁTICA</h2>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores veniam sint aliquam sunt recusandae repudiandae ut ipsa sed at, consequatur labore non incidunt libero perspiciatis vitae voluptate quibusdam nostrum? Odio.</p>
                        </div>
                    </div>
                </div>
                <div class='main_box-buy'>
                    <div class='buy_button'>
                        <button type='submit' class='button'>COMPRAR AHORA</button>
                    </div>
                    <div class='priceUSD'>
                        <h3>USD 6.770</h3>
                    </div>
                    <div class='priceETH'>
                        <h3>1.5 ETH</h3>
                    </div>
                </div>
            </div>
        </section>

        <section class='sub_boxes'>
            <div class='information3'>
                <h2>COMPRADORES HISTÓRICOS</h2>
                <table>
                    <tr>
                        <td>Justin Bieber</td>
                        <td id='current-property'>PROPIETARIO ACTUAL</td>
                    </tr>
                    <tr>
                        <td>Eminem</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Snoop Dogg</td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class='information4'>
                <h2>PRECIO HISTÓRICO DEL NFT</h2>
            </div>
        </section>

         <!-- OTROS NFT'S -->
        <h2 class='title__other-nfts'>NFT'S QUE TE PUEDEN INTERESAR</h2>

        <section class="Coleccion">
        <div class="Collecciona">
            <article class="itemcoleccion">
                <img src="/imagenes/NFTAR AJUSTADAS/OPCION ARTE 1.jpg" class="Imagenesftp">
                <div class="descripcion">
                <H2 class="Nombre"> Nombre NFT1 </H2>
                <H4 class="Autor"> Autor </H4>
                <i class="imagendesb fas fa-heartbeat"></i>
                <i class="imagendesc fas fa-cart-arrow-down"></i>
                <div class="descripciona">
                <p class= "PrecioU"> USD </p>
                <p class= "PrecioE"> EHT </p>
                <i class="imagendesa fab fa-ethereum"></i>

                </div>
                </div>
            </article>

            <article class="itemcoleccion">
                <img src="/imagenes/NFTAR AJUSTADAS/OPCION ARTE 2.jpg" class="Imagenesftp">
                <div class ="descripcion">
                <H2 class="Nombre"> Nombre NFT2 </H2>
                <H4 class="Autor"> Autor </H4>
                <i class="imagendesb fas fa-heartbeat"></i>
                <i class="imagendesc fas fa-cart-arrow-down"></i>
                <div class="descripciona">
                <p class= "PrecioU"> USD </p>
                <p class= "PrecioE"> EHT </p>
                <i class="imagendesa fab fa-ethereum"></i>
  
                </div>
                </div>
            </article>

            <article class="itemcoleccion">
                <img src="/imagenes/NFTAR AJUSTADAS/OPCION ARTE 3.jpg" class="Imagenesftp">
                <div class ="descripcion">
                <H2 class="Nombre"> Nombre NFT3 </H2>
                <H4 class="Autor"> Autor </H4>
                <i class="imagendesb fas fa-heartbeat"></i>
                <i class="imagendesc fas fa-cart-arrow-down"></i>
                <div class="descripciona">
                <p class= "PrecioU"> USD </p>
                <p class= "PrecioE"> EHT </p>
                <i class="imagendesa fab fa-ethereum"></i>
             
                </div>
                </div>
            </article>

            <article class="itemcoleccion">
                <img src="/imagenes/NFTAR AJUSTADAS/OPCION ARTE 4.jpg" class="Imagenesftp">
                <div class ="descripcion">
                <H2 class="Nombre"> Nombre NFT4 </H2>
                <H4 class="Autor"> Autor </H4>
                <i class="imagendesb fas fa-heartbeat"></i>
                <i class="imagendesc fas fa-cart-arrow-down"></i>
                <div class="descripciona">
                <p class= "PrecioU"> USD </p>
                <p class= "PrecioE"> EHT </p>
                <i class="imagendesa fab fa-ethereum"></i>
    
                </div>
                </div>
            </article>
            </div>
            </section>

    </main>

    <!-- Footer -->
    <footer>
        <div class='footer__primary'>
            <section class='footer__section-one'>
                <img src="imagenes/logo_temporal.png">
            </section>
            <div class='footer__section-icons'>
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-twitter-square"></i>
                <i class="fab fa-github-square"></i>
                <i class="fab fa-instagram-square"></i>
            </div>
        </div>
        <hr>
        <div class='footer__secondary'>
            <section class='footer__section-two'>
                <h5>Navegación</h5>
                <ul><a href = "#"> LOGIN / REGISTRO </a></ul>
                <ul><a href = "#"> MARKETPLACE </a></ul>
                <ul><a href = "#"> RANKING </a></ul>
            </section>
            <section class='footer__section-three'> 
                <h5>Compañia</h5>
                <ul><a href = "#"> TERMINOS Y CONDICIONES </a></ul>
                <ul><a href = "#"> BLOG </a></ul>
                <ul><a href = "#"> NOSOTROS </a></ul>
            </section>

            <section class='footer__section-four'>
                <h5>Desarrolladores</h5>
                <ul><a href = "#"> GRUPO 2 </a></ul>
                <ul><a href = "#"> DIGITAL HOUSE </a></ul>
                <!-- <ul><a href = "#"> DERECHOS RESERVADOS </a></ul> -->
            </section>
            <section>
                <p>© 2022 Grupo 2 Digital House</p>
            </section>
        </div>
    </footer>

</body>
</html>