<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/02e6c8fc0f.js" crossorigin="anonymous"></script>
    <link href ="css/usuario.css", rel="stylesheet">
    <link href ="css/styles.css", rel="stylesheet">


    

<!-- Fuentes -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@100&family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>NFTART- Usuario </title>
</head>

<body>
<!-- Cabecera -->
    <header>
    <nav>
        <section class='nav__primary'>
            <div class='nav__primary-figure'>
                <img 
                    src="imagenes/logo_temporal.png"
                    class='nav__primary-logo'
                />
            </div>
            <ul>
                <li>
                    <a>
                        <i class='fas fa-user'></i>
                    </a>
                </li>
                <li>
                    <span id='login'>LOGIN</span>
                </li>
                <li>
                    <span id='register'>REGISTRO</span>
                </li>
            </ul>
        </section>

        <!-- Submenu -->
            <section class='nav__secondary'>

                <input id='busqueda'></input>
                <li>
                    <i class='fas fa-search'></i>
                </li>
                <li><a href = "#"> MARKETPLACE </a></li>
                <li><a href = "#/usuario.html"> RANKING </a></li>
                <li><a href = "#"> CART <i class='fas fa-shopping-cart'></i></a></li>
            </section>
        </nav>   
    </header>
    
    <!-- Cuerpo -->

    <!-- Presentacion -->
            <section class= "Presentacion">
                <div class="circulo">
                </div>
                <div>
                    <H1 class="H1perfil"> Nombre de Usuario</H1>
                    <H2 class="H2perfil"> Apodo </H2>
                    <ul class="Redessociales">
                        <li> <i class="Botonredes fab fa-facebook-square"></i> Facebook </li>
                        <li> <i class="Botonredes fab fa-instagram-square"></i> Instagram </li>
                        <li> <button class="Botoncompartir"><i class="fas fa-share-alt"></i></button> </li>
                    </ul>
                    <br><br>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesc Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesc

                    </p>
                </div>            
                </section>
    
    <!-- Menu Perfil -->
    
        <section>
        <nav class="Menuperfil">
            <ul class="Menuperfilb">
                <li class="Menuperfilc"> <a href="#" id='buttonCollection'> COLECCION </a></li>
                <li class="Menuperfilc"> <a href="#" id='buttonFavorites'> FAVORITOS </a></li>
                <li class="Menuperfilc"> <a href="#" id='buttonActivity'> ACTIVIDAD </a></li>
                <li class="Menuperfilc"> <a href="#" id='buttonOffers'> OFERTAS </a></li>
            </ul>
        </nav>
        </section>

    <!-- Submenu Perfil Colección, Creados, Favoritos  -->

        <section id='subMenuFilter'>
        <nav class="Submenuperfil">
            <ul class= "Submenuperfilb">
                <button class="lupa"><i class='fas fa-search'></i></button>
                <input class='botonbusqueda'></input>
                <li class="Submenuperfilc"> CATEGORÍA: </li>
                    <form class='Submenuperfillistado'>
                        <label class= "Submenuperfillistadob"> </label>
                        <select>
                            <option>Arte</option>
                            <option>Fotografía</option>
                            <option>Música</option>
                            <option>Simi</option>
                            <option>Metaverso</option>
                        </select>
                    </form>
                <li class="Submenuperfilc"> PRECIO: </li>
                    <form class='Submenuperfillistado'>
                        <label class= "Submenuperfillistadob"> </label>
                        <select>
                            <option>$0 - $5000</option>
                            <option>$5000 - $10000</option>
                            <option>$10000 - $20000</option>
                            <option>$20000 - $30000</option>
                            <option>$30000 - más</option>
                        </select>
                    </form>
            </ul>
        </nav>  
        </section>     
    

          <!-- Submenu Perfil Actividad y Ofertas -->

          <section>
             <nav class= "Submenuperfilao"> 
                <ul class= "Submenuperfilaob">
                    <button class="lupa"><i class='fas fa-search'></i></button>
                    <input class='botonbusqueda'></input>
                </ul>
            </nav>  
        </section>    

        <!-- Colección -->
        <section class="Coleccion">
            <article class="itemcoleccion">
                <img src="/imagenes/imagengris.jpg" class="Imagenesftp">
                <H2> Nombre NFT1 </H2>
                <H4> Autor </H4>
                <p> USD </p>
                <p> EHT </p>
            </article>

            <article class="itemcoleccion">
                <img src="/imagenes/imagengris.jpg" class="Imagenesftp">
                <H2 class= "H2Perfil"> Nombre NFT2 </H2>
                <H4> Autor </H4>
                <p> USD </p>
                <p> EHT </p>
            </article>

            <article class="itemcoleccion">
                <img src="/imagenes/imagengris.jpg" class="Imagenesftp">
                <H2 class= > Nombre NFT3 </H2>
                <H4> Autor </H4>
                <p> USD </p>
                <p> EHT </p>
            </article>

            <article class="itemcoleccion">
                <img src="/imagenes/imagengris.jpg" class="Imagenesftp">
                <H2> Nombre NFT4 </H2>
                <H4> Autor </H4>
                <p> USD </p>
                <p> EHT </p>
            </article>

        </section>
        <section class="Coleccion">

            <article class="itemcoleccion">
                <img src="/imagenes/imagengris.jpg" class="Imagenesftp">
                <H2> Nombre NFT5 </H2>
                <H4> Autor </H4>
                <p> USD </p>
                <p> EHT </p>
            </article>

            <article class="itemcoleccion">
                <img src="/imagenes/imagengris.jpg" class="Imagenesftp">
                <H2> Nombre NFT6 </H2>
                <H4> Autor </H4>
                <p> USD </p>
                <p> EHT </p>
            </article>

            <article class="itemcoleccion">
                <img src="/imagenes/imagengris.jpg" class="Imagenesftp">
                <H2> Nombre NFT7 </H2>
                <H4> Autor </H4>
                <p> USD </p>
                <p> EHT </p>
            </article>

            <article class="itemcoleccion">
                <img src="/imagenes/imagengris.jpg" class="Imagenesftp">
                <H2> Nombre NFT8 </H2>
                <H4> Autor </H4>
                <p> USD </p>
                <p> EHT </p>
            </article>

        </section>

        <!-- Actividad -->
        <section class="Tablaactividad">
        <table>
            <tr>
                <th>TIPO</th>
                <th>NFT</th>
                <th>PRECIO</th>
                <th>ANTERIOR PROPIETARIO</th>
                <th>FECHA / HORA DE OPERACIÓN </th>
            </tr>
            <tr>
                <td> Tipo1 </td>
                <td> NFT2</td>
                <td> Precio1</td>
                <td> Anterior Propietario1</td>
                <td> Fecha / Hora Operacion1 </td>
            </tr>
            <tr>
                <td> Tipo2 </td>
                <td> NFT2</td>
                <td> Precio2</td>
                <td> Anterior Propietario2</td>
                <td> Fecha / Hora Operacion2 </td>
            </tr>
            <tr>
                <td> Tipo3 </td>
                <td> NFT3</td>
                <td> Precio3</td>
                <td> Anterior Propietario3</td>
                <td> Fecha / Hora Operacion3 </td>
            </tr>
        </table>
        </section>

        <br>
        <br>

        <!-- Ofertas -->
        <section>
            <table class="Tablaofertas">
                <tr>
                    <th>TIPO</th>
                    <th>PRECIO DE MERCADO</th>
                    <th>OFERTA</th>
                    <th>UTILIDAD</th>
                    <th>FECHA / HORA DE EXPIRACION DE LA OFERTA </th>
                </tr>
                <tr>
                    <td> Tipo1 </td>
                    <td> PreciodeMercado1</td>
                    <td> Oferta1</td>
                    <td> Utilidad1</td>
                    <td> Fecha / Deexpericaciondelaoferta1 </td>
                </tr>
                <tr>
                    <td> Tipo2 </td>
                    <td> PreciodeMercado2</td>
                    <td> Oferta2</td>
                    <td> Utilidad2</td>
                    <td> Fecha / Deexpericaciondelaoferta2 </td>
                </tr>
                <tr>
                    <td> Tipo3 </td>
                    <td> PreciodeMercado3</td>
                    <td> Oferta3</td>
                    <td> Utilidad3</td>
                    <td> Fecha / Deexpericaciondelaoferta3 </td>
                </tr>
            </table>
            </section>


    <!-- Footer -->
    <footer>
        <div class='footer__primary'>
            <section class='footer__section-one'>
                <img src="imagenes/logo_temporal.png">
            </section>
            <section class='footer__section-two'>
                <ul><a href = "#"> LOGIN / REGISTRO </a></ul>
                <ul><a href = "#"> MARKETPLACE </a></ul>
                <ul><a href = "#"> RANKING </a></ul>
            </section>
            <section class='footer__section-three'> 
                <ul><a href = "#"> TERMINOS Y CONDICIONES </a></ul>
                <ul><a href = "#"> BLOG </a></ul>
                <ul><a href = "#"> NOSOTROS </a></ul>
            </section>

            <section class='footer__section-four'>
                <ul><a href = "#"> GRUPO 2 </a></ul>
                <ul><a href = "#"> DIGITAL HOUSE </a></ul>
                <ul><a href = "#"> DERECHOS RESERVADOS </a></ul>
                <div class='footer__section-icons'>
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-twitter-square"></i>
                    <i class="fab fa-github-square"></i>
                    <i class="fab fa-instagram-square"></i>
                </div>
            </section>
        </div>
    </footer>

    <script src='/scripts/userOptions.js'></script>
</body>
</html>