<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/02e6c8fc0f.js" crossorigin="anonymous"></script>
    <link href ="css/usuario.css", rel="stylesheet">
    <link href ="css/styles.css", rel="stylesheet">


    

<!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans&family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>NFTART- Usuario </title>
</head>

<body>
<!-- Cabecera -->
    <header>
    <nav>
        <section class='nav__primary'>
            <div class='nav__primary-figure'>
                <img 
                    src="img/logo_temporal.png"
                    class='nav__primary-logo'
                />
            </div>
            <ul>
                <li>
                    <a>
                        <i class='fas fa-user'></i>
                    </a>
                </li>
                <li>
                    <span id='login'>LOGIN</span>
                </li>
                <li>
                    <span id='register'>REGISTRO</span>
                </li>
            </ul>
        </section>

        <!-- Submenu -->
            <section class='nav__secondary'>

                <input id='busqueda'></input>
                <li>
                    <i class='fas fa-search'></i>
                </li>
                <li><a href = "#"> MARKETPLACE </a></li>
                <li><a href = "#/usuario.html"> RANKING </a></li>
                <li><a href = "#"> CART <i class='fas fa-shopping-cart'></i></a></li>
            </section>
        </nav>   
    </header>
    
    <!-- Cuerpo -->
    <!-- <section>
        <div>
            <img src="/imagenes/OPCIÓN BANNER 2.jpg" class="banner">
        </div>
    </section> -->


    <!-- Presentacion -->
    <main>
            <section class= "Presentacion">
                <div class="circulo">
                    <img src="img/imagenusuario.jpg" class=ok>
                </div>
                <div>
                    <H1 class="H1perfil"> Jeronimo Digital House </H1>
                    <H2 class="H2perfil"> Jero </H2>
                    <ul class="Redessociales">
                        <li> <i class="Botonredes fab fa-facebook-square"></i> Facebook </li>
                        <li> <i class="Botonredes fab fa-instagram-square"></i> Instagram </li>
                        <li> <button class="Botoncompartir"><i class="fas fa-share-alt"></i></button> </li>
                    </ul>
                    <br><br>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesc Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesc
                    </p>
                </div>            
            </section>
    
    <!-- Menu Perfil -->
    
        <section>
            <div>
            <nav class="Menuperfil">
            <ul class="Menuperfilb">
                <li class="Menuperfilc"> <a href="#" id='buttonCollection'> COLECCION </a></li>
                <li class="Menuperfilc"> <a href="#" id='buttonFavorites'> FAVORITOS </a></li>
                <li class="Menuperfilc"> <a href="#" id='buttonActivity'> ACTIVIDAD </a></li>
                <li class="Menuperfilc"> <a href="#" id='buttonOffers'> OFERTAS </a></li>
            </ul>
            </nav>
            </div>
        </section>

    <!-- Submenu Perfil Colección, Creados, Favoritos  -->

        <section id='subMenuFilter'>
        <div>
            <nav class="Submenuperfil">
            <ul class= "Submenuperfilb">
                <button class="lupa"><i class='fas fa-search'></i></button>
                <input class='botonbusqueda'></input>
                    <li class="Submenuperfilc"> CATEGORÍA: </li>
                    <form class='Submenuperfillistado'>
                        <label class= "Submenuperfillistadob"> </label>
                        <select>
                            <option> Arte </option>
                            <option>Fotografía</option>
                            <option>Música</option>
                            <option>Simi</option>
                            <option>Metaverso</option>
                        </select>
                </form>
                    <li class="Submenuperfilc"> PRECIO: </li>
                    <form class='Submenuperfillistado'>
                        <label class= "Submenuperfillistadob"> </label>
                        <select>
                            <option>$0 - $5000</option>
                            <option>$5000 - $10000</option>
                            <option>$10000 - $20000</option>
                            <option>$20000 - $30000</option>
                            <option>$30000 - más</option>
                        </select>
                    </form>
            </ul>
            </nav>  
        </div>
        </section>     
    

          <!-- Submenu Perfil Actividad y Ofertas -->

          <section>
            <div>
            <nav class= "Submenuperfilao"> 
                <ul class= "Submenuperfilaob">
                    <button class="lupa"><i class='fas fa-search'></i></button>
                    <input class='botonbusqueda'></input>
                </ul>
            </nav> 
            </div> 
        </section>    

        <!-- Colección -->
        <section class="Coleccion">
        <div class="Collecciona">
            <article class="itemcoleccion">
                <img src="img/NFTAR AJUSTADAS/OPCION ARTE 1.jpg" class="Imagenesftp">
                <div class="descripcion">
                <H2 class="Nombre"> Nombre NFT1 </H2>
                <H4 class="Autor"> Autor </H4>
                <i class="imagendesb fas fa-heartbeat"></i>
                <i class="imagendesc fas fa-cart-arrow-down"></i>
                <div class="descripciona">
                <p class= "PrecioU"> USD </p>
                <p class= "PrecioE"> EHT </p>
                <i class="imagendesa fab fa-ethereum"></i>

                </div>
                </div>
            </article>

            <article class="itemcoleccion">
                <img src="img/NFTAR AJUSTADAS/OPCION ARTE 2.jpg" class="Imagenesftp">
                <div class ="descripcion">
                <H2 class="Nombre"> Nombre NFT2 </H2>
                <H4 class="Autor"> Autor </H4>
                <i class="imagendesb fas fa-heartbeat"></i>
                <i class="imagendesc fas fa-cart-arrow-down"></i>
                <div class="descripciona">
                <p class= "PrecioU"> USD </p>
                <p class= "PrecioE"> EHT </p>
                <i class="imagendesa fab fa-ethereum"></i>
  
                </div>
                </div>
            </article>

            <article class="itemcoleccion">
                <img src="img/NFTAR AJUSTADAS/OPCION ARTE 3.jpg" class="Imagenesftp">
                <div class ="descripcion">
                <H2 class="Nombre"> Nombre NFT3 </H2>
                <H4 class="Autor"> Autor </H4>
                <i class="imagendesb fas fa-heartbeat"></i>
                <i class="imagendesc fas fa-cart-arrow-down"></i>
                <div class="descripciona">
                <p class= "PrecioU"> USD </p>
                <p class= "PrecioE"> EHT </p>
                <i class="imagendesa fab fa-ethereum"></i>
             
                </div>
                </div>
            </article>

            <article class="itemcoleccion">
                <img src="img/NFTAR AJUSTADAS/OPCION ARTE 4.jpg" class="Imagenesftp">
                <div class ="descripcion">
                <H2 class="Nombre"> Nombre NFT4 </H2>
                <H4 class="Autor"> Autor </H4>
                <i class="imagendesb fas fa-heartbeat"></i>
                <i class="imagendesc fas fa-cart-arrow-down"></i>
                <div class="descripciona">
                <p class= "PrecioU"> USD </p>
                <p class= "PrecioE"> EHT </p>
                <i class="imagendesa fab fa-ethereum"></i>
    
                </div>
                </div>
            </article>
            </div>
            </section>

            <section class="Coleccion">
            <div class="Collecciona">
            <article class="itemcoleccion">
                <img src="img/NFTAR AJUSTADAS/OPCION ARTE 4.jpg" class="Imagenesftp">
                <div class="descripcion">
                <H2 class="Nombre"> Nombre NFT5 </H2>
                <H4 class="Autor"> Autor </H4>
                <i class="imagendesb fas fa-heartbeat"></i>
                <i class="imagendesc fas fa-cart-arrow-down"></i>
                <div class="descripciona">
                <p class= "PrecioU"> USD </p>
                <p class= "PrecioE"> EHT </p>
                <i class="imagendesa fab fa-ethereum"></i>
         
                </div>
                </div>
            </article>

            <article class="itemcoleccion">
                <img src="img/NFTAR AJUSTADAS/OPCION ARTE 3.jpg" class="Imagenesftp">
                <div class="descripcion">
                <H2 class="Nombre"> Nombre NFT6 </H2>
                <H4 class="Autor"> Autor </H4>
                <i class="imagendesb fas fa-heartbeat"></i>
                <i class="imagendesc fas fa-cart-arrow-down"></i>
                <div class="descripciona">
                <p class= "PrecioU"> USD </p>
                <p class= "PrecioE"> EHT </p>
                <i class="imagendesa fab fa-ethereum"></i>
           
                </div>
                </div>
            </article>

            <article class="itemcoleccion">
                <img src="img/NFTAR AJUSTADAS/OPCION ARTE 2.jpg" class="Imagenesftp">
                <div class="descripcion">
                <H2 class="Nombre"> Nombre NFT7 </H2>
                <H4 class="Autor"> Autor </H4>
                <i class="imagendesb fas fa-heartbeat"></i>
                <i class="imagendesc fas fa-cart-arrow-down"></i>
                <div class="descripciona">
                <p class= "PrecioU"> USD </p>
                <p class= "PrecioE"> EHT </p>
                <i class="imagendesa fab fa-ethereum"></i>
                </div>
                </div>
            </article>

            <article class="itemcoleccion">
                <img src="img/NFTAR AJUSTADAS/OPCION ARTE 1.jpg" class="Imagenesftp">
                <div class= "descripcion">
                <H2 class="Nombre"> Nombre NFT8 </H2>
                <H4 class="Autor"> Autor </H4>
                <i class="imagendesb fas fa-heartbeat"></i>
                <i class="imagendesc fas fa-cart-arrow-down"></i>
                <div class="descripciona">
                <p class= "PrecioU"> USD </p>
                <p class= "PrecioE"> EHT </p>
                <i class="imagendesa fab fa-ethereum"></i>
         
                </div>
                </div>
            </article>
        </div>
        </section>

        <!-- Actividad -->
        <section class="Tablaactividad">
        <div>
        <table>
            <div class= "MenuTabla">
            <tr>
                <th>Tipo</th>
                <th>NFT</th>
                <th>Precio</th>
                <th>Propietario Anterior</th>
                <th>Fecha / Hora de Operación</th>
            </tr>
            </div>
            <tr>
                <td> Tipo1</td>
                <td> NFT2</td>
                <td class= "precioc"> Precio1</td>
                <td> Anterior Propietario1</td>
                <td> Fecha / Hora Operacion1 </td>
            </tr>
            <tr>
                <td> Tipo2 </td>
                <td> NFT2</td>
                <td class= "precioc"> Precio2</td>
                <td> Anterior Propietario2</td>
                <td> Fecha / Hora Operacion2 </td>
            </tr>
            <tr>
                <td> Tipo3 </td>
                <td> NFT3</td>
                <td class= "precioc"> Precio3</td>
                <td> Anterior Propietario3</td>
                <td> Fecha / Hora Operacion3 </td>
            </tr>    
        </table>
        </div>
        </section>

        <br>
        <br>

        <!-- Ofertas -->
        <section>
        <div>
            <table class="Tablaofertas">
                <tr>
                    <th>Tipo</th>
                    <th>Precio</th>
                    <th>Oferta Recibida</th>
                    <th>Utilidad</th>
                    <th>Fecha / Hora de experación de la Oferta</th>
                </tr>
                <tr>
                    <td> Tipo1</td>
                    <td class= "precioc"> PreciodeMercado1</td>
                    <td> Oferta1</td>
                    <td> Utilidad1</td>
                    <td> Fecha / Deexpericaciondelaoferta1</td>
                </tr>
                <tr>
                    <td> Tipo2</td>
                    <td class= "precioc"> PreciodeMercado2</td>
                    <td> Oferta2</td>
                    <td> Utilidad2</td>
                    <td> Fecha / Deexpericaciondelaoferta2</td>
                </tr>
                <tr>
                    <td> Tipo3</td>
                    <td class= "precioc"> PreciodeMercado3</td>
                    <td> Oferta3</td>
                    <td> Utilidad3</td>
                    <td> Fecha / Deexpericaciondelaoferta3 </td>
                </tr>
            </table>
            </div>
            </section>
    </main>

    <!-- Footer -->
    <!-- Footer -->
    <footer>
        <div class='footer__primary'>
            <section class='footer__section-one'>
                <img src="img/logo_temporal.png">
            </section>
            <div class='footer__section-icons'>
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-twitter-square"></i>
                <i class="fab fa-github-square"></i>
                <i class="fab fa-instagram-square"></i>
            </div>
        </div>
        <hr>
        <div class='footer__secondary'>
            <section class='footer__section-two'>
                <h5>Navegación</h5>
                <ul><a href = "#"> LOGIN / REGISTRO </a></ul>
                <ul><a href = "#"> MARKETPLACE </a></ul>
                <ul><a href = "#"> RANKING </a></ul>
            </section>
            <section class='footer__section-three'> 
                <h5>Compañia</h5>
                <ul><a href = "#"> TERMINOS Y CONDICIONES </a></ul>
                <ul><a href = "#"> BLOG </a></ul>
                <ul><a href = "#"> NOSOTROS </a></ul>
            </section>

            <section class='footer__section-four'>
                <h5>Desarrolladores</h5>
                <ul><a href = "#"> GRUPO 2 </a></ul>
                <ul><a href = "#"> DIGITAL HOUSE </a></ul>
                <!-- <ul><a href = "#"> DERECHOS RESERVADOS </a></ul> -->
            </section>
            <section>
                <p>© 2022 Grupo 2 Digital House</p>
            </section>
        </div>
    </footer>
    <script src='/scripts/popUp.js'></script>
</body>
</html>