
h2{
    color: #043d63;
    font-family: 'Alumni Sans', sans-serif;
    font-size: 30px;
    font-weight: 900;
}



.banner-category{
    box-sizing: border-box;
    height: 10vw;
    width: 100%;
}

.busqueda_producto{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    height: 1rem;
    background-color: #D4EDFC;
    text-decoration: none;
}

.busqueda{
    height: 1rem;
    width: 10rem;
    margin-right: 10px;
    border-radius: 4px;
    border-color: transparent;
}

#filtros{
    color: #3f83b1;
    font-family: 'Alumni Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

#busqueda_precio{
    height: 1rem;
    width: 3rem;
    margin-right: 10px;
    border-radius: 1px;
    border-color: transparent;
    
}

.container_div_filtro_precio{
    display: flex;
    flex-grow: 0.2;
    justify-content: space-around;
}


/*/////////////// VITRINA PRODUCTO ///////////////////*/

.container_vitrina_producto{
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
}

.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.product_img{
    width: 100%;
}


.container_product_desc{
    background-color: white;
    width: 30%;
    border: 5px solid #ccc;
    align-content: center;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.container_product_desc:hover{
    border-color: green;
}


.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

.price{
    font-size: 40px;
    font-weight: bold;
    width: 30%;
    color: rgb(108, 206, 17);
}

.price_cripto{
    color: #5BBEFF;
    font-family: 'Alumni Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
}


div.main-article i{
    background-color: white;
    border-radius: 5px;
    color: rgb(29, 224, 11);
    font-size: 30px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

.name_product{
    width: 80%;
    color: rgb(1, 19, 68);
    height: 20px;
}

.autor{
    width: 80%;
    height: 10px;
}