*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

main{
    justify-content: center;
}

h2{
    color: #043d63;
    font-family: 'Alumni Sans', sans-serif;
    font-size: 30px;
    font-weight: 900;
}
/* Estilos de Navegacion */

.nav__primary-logo{
    width: 13%;
    float: right;
}

.logo_header{
    width: 100%;
    justify-content: center;
}
.nav__primary-figure{
    width: 80%;
}

.nav__primary{
    width: 100%;
    display: flex;
}

.nav__primary ul{
    width: 80%;
    display: flex;
    justify-content: right;
    list-style-type: none;
}

.nav__primary li{
    margin-right: 30px;
    font-size: 20px;
    text-decoration: none;
}

.nav__primary i{
    font-size: 15px;
    color: rgb(255, 255, 255);
    border-color: transparent;
}

.nav__primary span{
    color: #5BBEFF;
    font-family: 'Alumni Sans', sans-serif;
    font-weight: 0;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
}

.nav__secondary{
    display: flex;
    justify-content: right;
    padding: 20px;
    height: 1rem;
    background-color: #D4EDFC;
    text-decoration: none;
    justify-items: center;
}

.nav__secondary li{
    color: grey;
    width: 8%;
    list-style-type: none;
}

.nav__secondary li a{
    color: grey;
    text-decoration: none;
    list-style-type: none;
}

.nav__secondary i{
    font-size: 15px;
    color: grey;
    border-color: transparent;
}

.nav__secondary a{
    color: #5BBEFF;
    text-decoration: none;
    font-family: 'Alumni Sans', sans-serif;
    font-size: 20px;
}

#busqueda{
    height: 1rem;
    width: 20rem;
    margin-right: 10px;
    border-radius: 4px;
    border-color: transparent;
}


.container_banner{
    justify-content: center;
    width: 100%;
    margin-top: 5px;
    background-color: #D4EDFC;
    position:relative;
}

.banner-category{
    justify-content: center;
    height: 100%;
    margin: 0%;
    width: 100%;
    margin: 0%;
}

.categoria_tex{
    font-size: 60px;
    position: absolute;
    z-index: 100;
    top: 30%;
    left: 30%;
    color: rgb(245, 245, 248);
    border: groove white;
}

.busqueda_producto{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    padding: 10px;
    height: 50px;
    background-color: #D4EDFC;
    text-decoration: none;
    list-style: none;
    margin: 0%;    
}

.busqueda_producto input{
    border-radius: 8px;
    border-color: transparent;
    max-width: 100px;
}

.busqueda{
    height: 1rem;
    width: 10rem;
    margin-right: 10px;
    border-radius: 4px;
    border-color: transparent;
}

#filtros{
    color: #3f83b1;
    font-family: 'Alumni Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.input_sec{
    height: 20px;
    width: 70%;
    margin-right: 10px;
    border-radius: 1px;
    border-color: transparent;
    
}

.container_div_filtro_precio{
    align-items: center;
    display: flex;
    flex-grow: 0.2;
    justify-content: space-around;
    max-width: 30%;
}

.container_div_filtro_categoria{
    align-items: center;
    display: flex;
    justify-items: center;
    justify-content: space-between;
}

.container_div_filtro_precio{
    align-items: center;
    display: flex;
}

.container_div_filtro_pago{
    align-items: center;
    display: flex;
    justify-items: center;
    justify-content: space-between;
}

.container_div_filtro_categoria input{
    margin-left: 10px;
}

.container_div_filtro_pago input{
    margin-left: 10px;
}

/*/////////////// VITRINA PRODUCTO ///////////////////*/

.container_vitrina_producto{
    margin: auto;
}

.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5%;
}

.product_img{
    width: 100%;
    height: 350px;
}


.container_product_desc{
    background-color: white;
    height: 500px;
    width: 30%;
    border: 5px solid #ccc;
    align-content: center;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    position: relative;
}


.container_product_desc:hover{
    border-color: green;
}


.main-article{
    width: 100%;
    display: flex;
    right: 0%;
    flex-wrap:wrap;
    border-top: 3px solid rgb(100, 100, 100);
}

/* .precio{
    position: absolute;
    bottom: 20px;
    right: 5%;
} */


.price{
    font-size: 25px;
    font-weight: bold;
    width: 30%;
    color: rgb(108, 206, 17);
}

.price_cripto{
    color: #5BBEFF;
    font-family: 'Alumni Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
}


div.main-article i{
    background-color:transparent;
    border-radius: 5px;
    color: rgb(29, 224, 11);
    font-size: 30px;
    height: 40px;
    width: 40px;
    margin-top: 10%;
}

div.main-article i:hover{
    color: rgb(241, 86, 14);
}

.name_product{
    width: 80%;
    color: rgb(1, 19, 68);
    height: 20px;
}

.autor{
    width: 80%;
    height: 10px;
    position: absolute;
    bottom: 3%;
    font-family: 'Alumni Sans', sans-serif;
    color: rgb(108, 206, 17);
    font-size: 25px;
}


.carrito_corazon{
    position: absolute;
    bottom:15px;
    right: 5%;
    border-color: transparent;
    border-radius: 8px;
}