/* Estilos Globales */
body{
    background-color: white;
    padding: 0px;
    margin: 0px;
}

nav{
    width: 100%;
    background-color: #072146;
    z-index: 0;
}


<<<<<<< HEAD
/* Estilos de Navegacion */

.nav__primary-logo{
    width: 13%;
    float: right;
}

.logo_header{
    width: 100%;
    justify-content: center;
}

.nav__primary-figure{
    width: 80%;
}

.nav__primary{
    width: 100%;
    display: flex;
}

.nav__primary ul{
    width: 80%;
    display: flex;
    justify-content: right;
    list-style-type: none;
}

.nav__primary li{
    margin-right: 30px;
    font-size: 20px;
    text-decoration: none;
}

.nav__primary i{
    font-size: 15px;
    color: rgb(255, 255, 255);
    border-color: transparent;
}

.nav__primary span{
    color: #5BBEFF;
    font-family: 'Alumni Sans', sans-serif;
    font-weight: 0;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
}

.nav__secondary{
    display: flex;
    justify-content: right;
    padding: 20px;
    height: 1rem;
    background-color: #D4EDFC;
    text-decoration: none;
}

.nav__secondary li{
    color: grey;
    width: 8%;
    list-style-type: none;
}

.nav__secondary li a{
    color: grey;
    text-decoration: none;
    list-style-type: none;
}

.nav__secondary i{
    font-size: 15px;
    color: grey;
    border-color: transparent;
}

.nav__secondary a{
    color: #5BBEFF;
    text-decoration: none;
    font-family: 'Alumni Sans', sans-serif;
    font-size: 20px;
}

#busqueda{
    height: 1rem;
    width: 20rem;
    margin-right: 10px;
    border-radius: 4px;
    border-color: transparent;
}


=======
>>>>>>> 0900a8bfecfd5524ebbc625d0c1b5c26d8552990
/* Estilos del Banner */
.banner__primary{
    width: 100%;
    height: 40rem;
}

.banner__primary img{
    width: 100%;
    height: 40rem;
    object-fit: cover;
}

.banner__secondary{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
}

.banner__secondary h1{
    font-family: 'Alumni Sans', sans-serif;
}

.banner__secondary h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}


/* Categorias */
.categories__main h1{
    width: 50%;
    margin: auto;
    font-size: 50px;
    font-family: 'Alumni Sans', sans-serif;
}

.categories__section{
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: auto;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    font-family: 'Alumni Sans', sans-serif;
    margin-bottom: 5rem;
    padding: 20px;
    height: 22rem;
    /* background-color: blueviolet; */
}

.categories__section img{
    width: 12rem;
    height: 12rem;
    z-index: -20;
}

.categories__section article{
    border: 0;
    height: 8.5rem;
    box-shadow: 0px 0px 5px rgb(100, 100, 100, 0.5);
    border-radius: 1rem;
    padding: 10px;
    display: block;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: left;
    cursor: pointer;
    transition: box-shadow 1s;
}

.categories__section article:hover{
    box-shadow: 0px 0px 12px rgb(100 ,100, 100);
}

.categories__section h3{
    font-size: 1.5em;
    text-align: left;
    margin-bottom: 0px;
}

.categories__section p{
    text-align: left;
    margin-top: 0px;
}

.categories__section article i{
    color: white;
    font-size: 20px;
    background-color: rgb(68, 68, 250);
    padding: 7px;
    border-radius: 0.5rem;
    margin-bottom: 0px;
<<<<<<< HEAD
}

/* Footer */

footer{
    width: 100%;
    background-color: #072146;
}

hr {
    border-color: rgb(179, 179, 179, 0.7);
    width: 50%;
}

.footer__primary{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: left;
    width: 50%;
    height: 5rem;
    margin: auto;
    padding-top: 30px;
    margin-bottom: 0px;
}

.footer__secondary{
    display: grid;
    grid-template-row: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;
    width: 50%;
    margin: auto;
    margin-top: 0px;
}

.footer__section-one{
    width: 100%;
    height: 5rem;
}

.footer__section-one img{
    width: 20%;
    -webkit-filter: brightness(100%);
    -webkit-filter: invert(100%);
}

.footer__section-two{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bolder;
}

.footer__section-three{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bolder;
}

.footer__section-four{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bolder;
}

.footer__section-icons{
    text-align: right;
    width: 100%;
    height: 5rem;
    margin-top: 20px;
}

.footer__primary i{
    font-size: 35px;
    cursor: pointer;
    margin-right: 20px;
    color: white;
}

.footer__secondary a{
    color: #5BBEFF;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.footer__secondary p{
    color: rgb(179, 179, 179);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.footer__secondary h5{
    color: white;
    margin-left: 40px;
    font-size: 23px;
    margin-bottom: 0px;
    font-family: 'Alumni Sans', sans-serif;
}

#menu__mobile{
    display: none;
}

@media all and (max-width: 700px){
    nav{
        position: fixed;
    }
    .nav__primary-logo{
        width: 100%;
        padding-left: 20px;
        -webkit-filter: brightness(100%);
        -webkit-filter: invert(100%);
    }
    .nav__primary-figure{
        width: 15%;
        padding-left: 20px;
    }
    #nav__secondary-show{
        display: none;
    }
    #menu__mobile{
        display: block;
        font-size: 30px;
        padding-top: 10px;
        padding-right: 10px;
    }
    .nav__secondary{
        display: grid;
        grid-template-columns: 1fr 0.2fr;
        grid-template-rows: 1fr 1fr;
        height: auto;
    }
    #busqueda{
        height: 1.5rem;
        margin-bottom: 0;
    }
    .nav__secondary li{
        width: 100%;
        font-size: 28px;
    } 
    .nav__secondary ul{
        width: 100%;
        margin: 0px;
    } 
    .nav__secondary i{
        font-size: 20px;
    }
    .categories__section{
        width: 80%;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        height: auto;
    }
    .categories__main h1{
        width: 100%;
    }
    footer{
        width: 100%;
    }
    .footer__primary{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        text-align: left;
        width: 100%;
    }
    .footer__secondary{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        text-align: left;
        width: 100%;
    }
    .footer__section-one{
        width: 80%;
        padding-left: 10px;
        height: 5rem;
    }
    .footer__section-one img{
        width: 50%;
        -webkit-filter: brightness(100%);
        -webkit-filter: invert(100%);
    }
    .footer__section-icons{
        text-align: left;
        width: 100%;
    }
    .footer__primary i{
        margin-right: 10px;
    }
    .footer__secondary p{
        padding-top: 8rem;
    }
=======
>>>>>>> 0900a8bfecfd5524ebbc625d0c1b5c26d8552990
}