* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    align-content: center;
    text-align: center;
    background-color: rgb(36, 34, 34);
    font-family: 'Bebas Neue', cursive;
}

input{
    margin: 5px;
    border-radius: 8px;
    border-color: aqua;
    width: 200px;
}

label{
    margin-top: 10px;
}

.container_body{
    background-color: white;
    margin: 5%;
    padding: 5px;
}

.container_registro_redes{
    margin: 5%;
}

.popUp__Fields{
    display:flex;
    flex-direction: column;
    align-content: center;
}

.container_datos_persona{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 2%;
}

.section_contraseñas{
    margin: 5%;
}

.container_tipo_cuenta{
    margin: 10px;
    text-align: center;
    align-items: center;
}

/* ImagenPerfil */
.ok{
    width: 200px;
    height: 200px;
    background-color: rgb(219, 219, 219);
    border-radius: 100%;
}

.ok:hover{
    background-color: rgb(179, 169, 169);

}