*{
    margin: 0px;
    padding: 0px;
}

/* Estilos Globales */
body{
    background-color: white;
    /* width:100%; */
    /* margin: auto; */
    justify-content: center;
    /* min-width:600px;
    max-width:2000px */
}

nav{
    top: 0px;
}

/* Letras Perfil */
 .H1perfil{
    color: rgb(47, 194, 3);
    font-size: 28px;
    padding-left: 20px;
    margin-top:0%;
 }

.H2perfil{
    color:rgb(136, 136, 136);   
    font-size: 22px; 
    padding-left: 20px;
    margin-top:-2%;
}


p{
    color:rgb(43, 43, 43);
    font-size: 18px;
    padding-left: 20px;
    margin-top:-2%;
}


/* Letras Seccion Usuario */

.Nombre{
    color:black;
    font-size:26px;
}

.Autor{
    color: rgb(0, 132, 255);
    font-size:22px;
}

.PrecioU{
    color:rgb(47, 194, 3);
    font-size:20px;
}

.PrecioE{
    color:rgb(47, 194, 3);
}

/* Letras Tablas */
.precioc{
    color:rgb(47, 194, 3);
    font-weight: bold;
}

/*Presentacion */
.Presentacion{
    display:flex;
    align-items:center;
    width: 80%;    
    margin:auto;
    margin-top:50px;
    box-sizing: border-box;
}


/* ImagenPerfil */
.ok{
    width: 200px;
    height: 200px;
    background-color: rgb(219, 219, 219);
    border-radius: 100%;
}


/* Banner */
.banner{
    height: 20vw;
    width: 100%;
}


/* Redes Sociales */
.Redessociales{
    display:flex;
    color: #072146;
    list-style: none;
    padding-left: 10px;
    margin-top:1%;
    align-items:center;
}

.Botonredes{
    padding:15px;
    box-sizing: border-box;
    font-size: 22px;
}

.Botoncompartir{
    margin-left: 2em;
}

#subMenuFilter{
    display: none;
}

/* MenuPerfil */
.Menuperfil{
    width: 90%;
    /* font-family:Arial, Helvetica, sans-serif; */
    margin:auto;
    box-sizing: border-box;
}

.Menuperfilb{
    display: flex;
    list-style: none;
    padding:12px;
    background: #028484;
    text-align: center;
    justify-content: center;
}

.Menuperfilc{
    text-decoration: none;
    display: block;
    font-size: 18px;
    padding: 1em;
}

.Menuperfilc:hover{
    background: #bdf4f8;
    border-radius: 10px;
    color:blue;
}
 
/* Submenu Perfiles */

.lupa{
    color:black;
    box-sizing: border-box;
}


.Submenuperfil{
    width: 90%;
    font-family:Arial, Helvetica, sans-serif;
    margin:auto;
    box-sizing: border-box;
}

.Submenuperfilb{
    display: flex;
    list-style: none;
    padding:12px;
    background:#D4EDFC;
    justify-content: right;
}

.Submenuperfilc{
    color:black;
    text-decoration: none;
    display: block;
    font-size: 14px;
    padding-right: 1em;
    padding-left: 1em;
}



/* Submenu Perfil Actividad y Ofertas */
.lupa{
    color:black;
    box-sizing: border-box;
}

.Submenuperfilao{
    width: 90%;
    font-family:Arial, Helvetica, sans-serif;
    margin:auto;
    box-sizing: border-box;
}

.Submenuperfilaob{
    display: flex;
    list-style: none;
    padding:12px;
    background: #D4EDFC;
    justify-content: right;
}


/* Coleccion */

.Coleccion{
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 1em;
    background-color: rgb(233, 233, 233);
    box-sizing: border-box;
}

.Collecciona{
    display: flex;
    flex-wrap: nowrap;
}

.itemcoleccion{
    background-color: white;
    margin:10px;
}

.itemcoleccion:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.descripcion{
    background-color: white;
    padding: 0.5em;
    border: rgb(199, 199, 199) 1px solid;
    border-top: #072146 2px solid;
}

.descripciona{
    display: flex;
    justify-content: flex-start;
    margin-left:-20px;
    box-sizing: border-box;    
}

.PrecioE{
    margin-left: 60px;
    color: #8BC1FF;
    font-weight: 800;
}


.Imagenesftp{
    width: 100%;
}


.imagendesa{
    display: flex;
    color:rgb(47, 194, 3);
    font-size: 1.5em;
    position:relative;
    bottom:10px;
    left: 10px;
}


.imagendesb{
    display: flex;
    width: 20%;
    color:grey;
    font-size: 1.5em;
    box-sizing: border-box;
    position:relative;
    bottom: 140px;
    left:200px;
}

.imagendesb:hover{
    color:red
}


.imagendesc{
    display: flex;
    width: 20%;
    color: rgb(47, 194, 3);
    font-size: 1.5em;
    box-sizing: border-box;
    position:relative;
    bottom: 163px;
    left:242px;
    transition: transform 3s;
}

.imagendesc:hover{
    color:rgb(47, 194, 3);
    transform:scale(1.2)
}


/* Tablas */

.Tablaactividad{
    display: block;
    justify-content: center;
    width: 90%;
    margin:auto;
    margin-top: 10px;
    Padding-top:10px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10px;
    background-color: rgb(233, 233, 233);
    box-sizing: border-box;   
    border-spacing: 0;
}

.Tablaofertas{
    display: block;
    width: 90%;
    margin:auto;
    margin-top: 10px;
    Padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10px;
    background-color: rgb(233, 233, 233);
    box-sizing: border-box;   
    border-spacing: 0;
}


th{
    width: 40%;
    text-align: center;
    font-size: 24px;
    color:rgb(255, 255, 255);
    vertical-align: top;
    border: none solid rgb(221, 221, 221);
    padding: 0.3em;
    background-color: #333333;
    width: calc(100%/5);
}

td{
    width: 40%;
    text-align: center;
    font-size: 22px;
    color:rgb(59, 59, 59);
    vertical-align: top;
    border: none solid rgb(221, 221, 221);
    padding: 0.3em;
    background-color: rgb(255, 255, 255);
    width: calc(100%/5)
}
