<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD:views/usuario.html
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/02e6c8fc0f.js" crossorigin="anonymous"></script>
    <link href ="css/usuario.css", rel="stylesheet">
    <link href ="css/popUp.css", rel="stylesheet">
    <link href ="css/styles.css", rel="stylesheet">


    

<!-- Fuentes -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@100&family=Bebas+Neue&display=swap" rel="stylesheet">
=======
    <%- include('../partials/head') %>
    <link href ="/css/header.css", rel="stylesheet">
    <link href ="/css/usuario.css", rel="stylesheet">
    <link href ="/css/styles.css", rel="stylesheet">
    <link href ="/css/footer.css", rel="stylesheet">
>>>>>>> 0900a8bfecfd5524ebbc625d0c1b5c26d8552990:views/user/usuario.ejs
    <title>NFTART- Usuario </title>
</head>

<body>
<!-- Cabecera -->
<<<<<<< HEAD:views/usuario.html
    <header>
     <!-- PopUps - Registro y Login -->

     <section class='popUp__Backdrop' id='popUpBackdropLogin'>
        <article class='popUp__Content' id='popUpContentLogin'>
            <div class='popUp__Nav'>
                <div class='popUp__Nav--button1'>
                    <!-- <i id='popUp__BackLogin' class="fas fa-chevron-circle-left"></i> -->
                </div>
                <div class='popUp__Nav--button2'>
                    <i id='popUp__CloseLogin' class="fas fa-times-circle"></i>
                </div>
            </div>
            <div class='popUp__Body'>
                <figure>
                    <section class='popUp__Img--content'>
                        <img 
                            src="imagenes/logo_temporal.png"
                            class='popUp__Logo'
                        />
                    </section>
                </figure>
                <section class='popUp__LoginWith'>
                    <h4>Inicia sesión con:</h4>
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-twitter-square"></i>
                    <i class="fab fa-github-square"></i>
                    <i class="fab fa-instagram-square"></i>
                </section>
                <section>
                    <form class='popUp__Fields'>
                        <input 
                            placeholder='Correo electronico'
                            type='email'
                        />
                        <input 
                            placeholder='Contraseña'
                            type='password'
                        />
                        <span>¿Olvidaste tu contraseña?</span>
                        <button type='submit'>Ingresar</button>
                        <button type='' id='registerButton'>¿No tienes cuenta? Registrate</button>
                    </form>
                </section>
            </div>
        </article>
    </section>

    <!-- Registro -->
    <section class='popUp__Backdrop' id='popUpBackdropRegister'>
        <article class='popUp__Content' id='popUpContentRegister'>
            <div class='popUp__Nav'>
                <div class='popUp__Nav--button1'>
                    <i id='popUp__BackRegister' class="fas fa-chevron-circle-left"></i>
                </div>
                <div class='popUp__Nav--button2'>
                    <i id='popUp__CloseRegister' class="fas fa-times-circle"></i>
                </div>
            </div>
            <div class='popUp__Body'>
                <figure>
                    <section class='popUp__Img--content'>
                        <img 
                            src="imagenes/logo_temporal.png"
                            class='popUp__Logo'
                        />
                    </section>
                </figure>
                <section class='popUp__LoginWith'>
                    <h4>Registrate con:</h4>
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-twitter-square"></i>
                    <i class="fab fa-github-square"></i>
                    <i class="fab fa-instagram-square"></i>
                </section>
                <section>
                    <form class='popUp__Fields'>
                        <input 
                            placeholder='Nombre completo'
                            type='text'
                        />
                        <input 
                            placeholder='Nombre de usuario'
                            type='text'
                        />
                        <input 
                            placeholder='Correo electronico'
                            type='email'
                        />
                        <label>Fecha de nacimiento</label>
                        <input 
                            type='date'
                        />
                        <label>País</label>
                        <select>
                            <option>Colombia</option>
                            <option>México</option>
                            <option>Chile</option>
                            <option>Paraguay</option>
                            <option>Argentina</option>
                        </select>
                        <label>Tipo de cuenta</label>
                        <div class='popUp__Type'>
                            <label>Vendedor</label>
                            <input 
                                type='checkbox'
                            />
                            <label>Comprador</label>
                            <input 
                                type='checkbox'
                            />
                        </div>
                        <input 
                            placeholder='Contraseña'
                            type='password'
                        />
                        <input 
                            placeholder='Repite tu contraseña'
                            type='password'
                        />
                        <button type='submit'>Continuar</button>
                    </form>
                </section>
            </div>
        </article>
    </section>

    <header>
        <!-- <nav>
        <section class='nav__primary'>
            <div class='nav__primary-figure'>
                <img 
                    src="imagenes/logo_temporal.png"
                    class='nav__primary-logo'
                />
            </div>
            <ul>
                <li>
                    <i class='fas fa-user'></i>
                </li>
                <li>
                    <span id='login'>LOGIN</span>
                </li>
                <li>
                    <span id='register'>REGISTRO</span>
                </li>
            </ul>
            <i id='menu__mobile' class='fas fa-bars'></i>
        </section> -->

        <!-- Submenu -->
            <section id='nav__secondary-show' class='nav__secondary'>
                <input id='busqueda'></input>
                <i class='fas fa-search'></i>
                <ul>
                    <li><a href = "#"> MARKETPLACE </a></li>
                    <li><a href = "#/usuario.html"> RANKING </a></li>
                    <li><a href = "#"> CART <i class='fas fa-shopping-cart'></i></a></li>
                </ul>
                </section>
        </nav>  
    </header>
=======
>>>>>>> 0900a8bfecfd5524ebbc625d0c1b5c26d8552990:views/user/usuario.ejs
    
    <%- include('../partials/header')%>

    <!-- Cuerpo -->
    <!-- <section>
        <div>
            <img src="/imagenes/OPCIÓN BANNER 2.jpg" class="banner">
        </div>
    </section> -->


    <!-- Presentacion -->
    <main>
            <section class= "Presentacion">
                <div class="circulo">
                    <img src="/img/imagenusuario.jpg" class=ok>
                </div>
                <div>
                    <H1 class="H1perfil"> Jeronimo Digital House </H1>
                    <H2 class="H2perfil"> Jero </H2>
                    <ul class="Redessociales">
                        <li> <i class="Botonredes fab fa-facebook-square"></i> Facebook </li>
                        <li> <i class="Botonredes fab fa-instagram-square"></i> Instagram </li>
                        <li> <button class="Botoncompartir"><i class="fas fa-share-alt"></i></button> </li>
                    </ul>
                    <br><br>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesc Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesc
                    </p>
                </div>            
            </section>
    
    <!-- Menu Perfil -->
    
        <!-- <section>
            <div>
            <div class="Menuperfil">
            <ul class="Menuperfilb">
                <li class="Menuperfilc"> <a href="#" id='buttonCollection'> COLECCION </a></li>
                <li class="Menuperfilc"> <a href="#" id='buttonFavorites'> FAVORITOS </a></li>
                <li class="Menuperfilc"> <a href="#" id='buttonActivity'> ACTIVIDAD </a></li>
                <li class="Menuperfilc"> <a href="#" id='buttonOffers'> OFERTAS </a></li>
            </ul>
        </div>
            </div>
        </section> -->

    <!-- Submenu Perfil Colección, Creados, Favoritos  -->

        <section id='subMenuFilter'>
        <div>
            <nav class="Submenuperfil">
            <ul class= "Submenuperfilb">
                <button class="lupa"><i class='fas fa-search'></i></button>
                <input class='botonbusqueda'></input>
                    <li class="Submenuperfilc"> CATEGORÍA: </li>
                    <form class='Submenuperfillistado'>
                        <label class= "Submenuperfillistadob"> </label>
                        <select>
                            <option> Arte </option>
                            <option>Fotografía</option>
                            <option>Música</option>
                            <option>Simi</option>
                            <option>Metaverso</option>
                        </select>
                </form>
                    <li class="Submenuperfilc"> PRECIO: </li>
                    <form class='Submenuperfillistado'>
                        <label class= "Submenuperfillistadob"> </label>
                        <select>
                            <option>$0 - $5000</option>
                            <option>$5000 - $10000</option>
                            <option>$10000 - $20000</option>
                            <option>$20000 - $30000</option>
                            <option>$30000 - más</option>
                        </select>
                    </form>
            </ul>
            </nav>  
        </div>
        </section>     
    

          <!-- Submenu Perfil Actividad y Ofertas -->

          <section>
            <div>
            <div class= "Submenuperfilao"> 
                <ul class= "Submenuperfilaob">
                    <button class="lupa"><i class='fas fa-search'></i></button>
                    <input class='botonbusqueda'></input>
                </ul>
            </div> 
            </div> 
        </section>    

        <!-- Colección -->
        <!-- <section class="Coleccion">
        <div class="Collecciona">
            <article class="itemcoleccion">
                <img src="/img/NFTAR AJUSTADAS/OPCION ARTE 1.jpg" class="Imagenesftp">
                <div class="descripcion">
                <H2 class="Nombre"> Nombre NFT1 </H2>
                <H4 class="Autor"> Autor </H4>
                <i class="imagendesb fas fa-heartbeat"></i>
                <i class="imagendesc fas fa-cart-arrow-down"></i>
                <div class="descripciona">
                <p class= "PrecioU"> USD </p>
                <p class= "PrecioE"> EHT </p>
                <i class="imagendesa fab fa-ethereum"></i>

                </div>
                </div>
            </article>

            <article class="itemcoleccion">
                <img src="/img/NFTAR AJUSTADAS/OPCION ARTE 2.jpg" class="Imagenesftp">
                <div class ="descripcion">
                <H2 class="Nombre"> Nombre NFT2 </H2>
                <H4 class="Autor"> Autor </H4>
                <i class="imagendesb fas fa-heartbeat"></i>
                <i class="imagendesc fas fa-cart-arrow-down"></i>
                <div class="descripciona">
                <p class= "PrecioU"> USD </p>
                <p class= "PrecioE"> EHT </p>
                <i class="imagendesa fab fa-ethereum"></i>
  
                </div>
                </div>
            </article>

            <article class="itemcoleccion">
                <img src="/img/NFTAR AJUSTADAS/OPCION ARTE 3.jpg" class="Imagenesftp">
                <div class ="descripcion">
                <H2 class="Nombre"> Nombre NFT3 </H2>
                <H4 class="Autor"> Autor </H4>
                <i class="imagendesb fas fa-heartbeat"></i>
                <i class="imagendesc fas fa-cart-arrow-down"></i>
                <div class="descripciona">
                <p class= "PrecioU"> USD </p>
                <p class= "PrecioE"> EHT </p>
                <i class="imagendesa fab fa-ethereum"></i>
             
                </div>
                </div>
            </article>

            <article class="itemcoleccion">
                <img src="/img/NFTAR AJUSTADAS/OPCION ARTE 4.jpg" class="Imagenesftp">
                <div class ="descripcion">
                <H2 class="Nombre"> Nombre NFT4 </H2>
                <H4 class="Autor"> Autor </H4>
                <i class="imagendesb fas fa-heartbeat"></i>
                <i class="imagendesc fas fa-cart-arrow-down"></i>
                <div class="descripciona">
                <p class= "PrecioU"> USD </p>
                <p class= "PrecioE"> EHT </p>
                <i class="imagendesa fab fa-ethereum"></i>
    
                </div>
                </div>
            </article>
            </div>
            </section>

            <section class="Coleccion">
            <div class="Collecciona">
            <article class="itemcoleccion">
                <img src="/img/NFTAR AJUSTADAS/OPCION ARTE 4.jpg" class="Imagenesftp">
                <div class="descripcion">
                <H2 class="Nombre"> Nombre NFT5 </H2>
                <H4 class="Autor"> Autor </H4>
                <i class="imagendesb fas fa-heartbeat"></i>
                <i class="imagendesc fas fa-cart-arrow-down"></i>
                <div class="descripciona">
                <p class= "PrecioU"> USD </p>
                <p class= "PrecioE"> EHT </p>
                <i class="imagendesa fab fa-ethereum"></i>
         
                </div>
                </div>
            </article>

            <article class="itemcoleccion">
                <img src="/img/NFTAR AJUSTADAS/OPCION ARTE 3.jpg" class="Imagenesftp">
                <div class="descripcion">
                <H2 class="Nombre"> Nombre NFT6 </H2>
                <H4 class="Autor"> Autor </H4>
                <i class="imagendesb fas fa-heartbeat"></i>
                <i class="imagendesc fas fa-cart-arrow-down"></i>
                <div class="descripciona">
                <p class= "PrecioU"> USD </p>
                <p class= "PrecioE"> EHT </p>
                <i class="imagendesa fab fa-ethereum"></i>
           
                </div>
                </div>
            </article>

            <article class="itemcoleccion">
                <img src="/img/NFTAR AJUSTADAS/OPCION ARTE 2.jpg" class="Imagenesftp">
                <div class="descripcion">
                <H2 class="Nombre"> Nombre NFT7 </H2>
                <H4 class="Autor"> Autor </H4>
                <i class="imagendesb fas fa-heartbeat"></i>
                <i class="imagendesc fas fa-cart-arrow-down"></i>
                <div class="descripciona">
                <p class= "PrecioU"> USD </p>
                <p class= "PrecioE"> EHT </p>
                <i class="imagendesa fab fa-ethereum"></i>
                </div>
                </div>
            </article>

            <article class="itemcoleccion">
                <img src="/img/NFTAR AJUSTADAS/OPCION ARTE 1.jpg" class="Imagenesftp">
                <div class= "descripcion">
                <H2 class="Nombre"> Nombre NFT8 </H2>
                <H4 class="Autor"> Autor </H4>
                <i class="imagendesb fas fa-heartbeat"></i>
                <i class="imagendesc fas fa-cart-arrow-down"></i>
                <div class="descripciona">
                <p class= "PrecioU"> USD </p>
                <p class= "PrecioE"> EHT </p>
                <i class="imagendesa fab fa-ethereum"></i>
         
                </div>
                </div>
            </article>
        </div>
        </section> -->

        <!-- Actividad -->
        <section class="Tablaactividad">
        <div>
        <table>
            <!-- <div class= "MenuTabla"> -->
            <tr>
                <th class='tablaActividad__titulo1'>Nombre</th>
                <th class='tablaActividad__titulo2'>Precio</th>
                <!-- <th>Precio</th>
                <th>Propietario Anterior</th>
                <th>Fecha / Hora de Operación</th> -->
            </tr>
            </div>
            <tr>
                <!-- <td>Tipo</td> -->
                <td class='tablaActividad__descripcion'>
                    <!-- <figure> -->
                        <img
                            src='https://images.ole.com.ar/2022/01/23/dgnR0nTmN_720x0__1.jpg'
                        />
                    <!-- </figure> -->
                    <div class='tablaActividad__informacion'>
                        <span class='descripcion__1'>Meebits</span>
                        <span class='descripcion__2'>ETH</span>
                        <span class='descripcion__3'>Expira en 12hrs y 30mins</span>
                    </div>
                </td>
                <td class= "precioc"> $15.00 USD</td>
            </tr>
            <tr>
                <!-- <td>Tipo</td> -->
                <td class='tablaActividad__descripcion'>
                    <!-- <figure> -->
                        <img
                            src='https://images.ole.com.ar/2022/01/23/dgnR0nTmN_720x0__1.jpg'
                        />
                    <!-- </figure> -->
                    <div class='tablaActividad__informacion'>
                        <span class='descripcion__1'>Meebits</span>
                        <span class='descripcion__2'>ETH</span>
                        <span class='descripcion__3'>Expira en 12hrs y 30mins</span>
                    </div>
                </td>
                <td class= "precioc"> $15.00 USD</td>
            </tr>
            <tr>
                <!-- <td>Tipo</td> -->
                <td class='tablaActividad__descripcion'>
                    <!-- <figure> -->
                        <img
                            src='https://images.ole.com.ar/2022/01/23/dgnR0nTmN_720x0__1.jpg'
                        />
                    <!-- </figure> -->
                    <div class='tablaActividad__informacion'>
                        <span class='descripcion__1'>Meebits</span>
                        <span class='descripcion__2'>ETH</span>
                        <span class='descripcion__3'>Expira en 12hrs y 30mins</span>
                    </div>
                </td>
                <td class= "precioc"> $15.00 USD</td>
            </tr>
            <tr>
                <td> Tipo2 </td>
                <td> NFT2</td>
                <td class= "precioc"> Precio2</td>
                <td> Anterior Propietario2</td>
                <td> Fecha / Hora Operacion2 </td>
            </tr>
            <tr>
                <td> Tipo3 </td>
                <td> NFT3</td>
                <td class= "precioc"> Precio3</td>
                <td> Anterior Propietario3</td>
                <td> Fecha / Hora Operacion3 </td>
            </tr>    
        </table>
        </div>
        </section>

        <br>
        <br>

        <!-- Ofertas -->
        <section>
        <div>
            <table class="Tablaofertas">
                <tr>
                    <th>Tipo</th>
                    <th>Precio</th>
                    <th>Oferta Recibida</th>
                    <th>Utilidad</th>
                    <th>Fecha / Hora de experación de la Oferta</th>
                </tr>
                <tr>
                    <td> Tipo1</td>
                    <td class= "precioc"> PreciodeMercado1</td>
                    <td> Oferta1</td>
                    <td> Utilidad1</td>
                    <td> Fecha / Deexpericaciondelaoferta1</td>
                </tr>
                <tr>
                    <td> Tipo2</td>
                    <td class= "precioc"> PreciodeMercado2</td>
                    <td> Oferta2</td>
                    <td> Utilidad2</td>
                    <td> Fecha / Deexpericaciondelaoferta2</td>
                </tr>
                <tr>
                    <td> Tipo3</td>
                    <td class= "precioc"> PreciodeMercado3</td>
                    <td> Oferta3</td>
                    <td> Utilidad3</td>
                    <td> Fecha / Deexpericaciondelaoferta3 </td>
                </tr>
            </table>
            </div>
            </section>
    </main>

    <%- include('../partials/footer')%>

    <script src='/scripts/popUp.js'></script>
    <script src='/scripts/menu_mobile.js'></script>
</body>
</html>