<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head') %>
    <link href ="/css/popUp.css", rel="stylesheet">
    <link href ="/css/header.css", rel="stylesheet">
    <link href ="/css/producto-marketplace.css", rel="stylesheet">
    <link href ="/css/styles.css", rel="stylesheet">
    <link href ="/css/footer.css", rel="stylesheet">
    <title>NFTART - Marketplace</title>
</head>
<body>

    
    <%- include('../partials/login-register')%>
    <%- include('../partials/header') %>
    
    <!-- Banner por categoría -->
    <h1 class="categoria_tex">MARKETPLACE</h1>
    <div class="container_banner">
        <img src="/img/BANNER_CATEGORIA_ARTE.jpg" 
        alt="Banner por categoría"
        class="banner-category">
    </div>

    <div class="busqueda_producto">
        <div class="container_div_filtro_categoria">
            <li id="filtros"> CATEGORIAS </li>
            <input class="input_sec" value="ARTE">
            </i></input>
        </div>
        
        <div class="container_div_filtro_precio">
            <li id="filtros"> PRECIO (US$) </li>
            <input class="input_sec" type="number" placeholder="MIN"></input>
            <input class="input_sec" type="number" placeholder="MAX"></input>
        </div>
        <div class="container_div_filtro_pago">
        <li id="filtros"> MEDIO DE PAGO</li>
        <input class="input_sec" value="CRIPTOS" ></input>
        </div>
    </div>

    <!-- Main: Vitrina de producto -->
    <main>
        <section class="container_vitrina_producto">
            <div class="products">

                <article class="container_product_desc" href='/producto.html'>
                    <img src="/img/NFTAR AJUSTADAS/OPCION ARTE 2.jpg" alt="NFT" class="product_img">
                    <div class="main-article">
                        <div>
                            <h2 class="name_product">NFT original number 1</h2>
                            <p class="autor">Fabrizio</p>
                        </div>
                        <div>
                            <p class="price">$6.770</p>
                            <p class="price_cripto">1.5 ETH</p>
                        </div>
                        <div class="carrito_corazon">
                            <i class="fas fa-heart"></i>
                            <i class="fas fa-cart-arrow-down"></i>
                        </div>
                    </div>
                </article>

                <article class="container_product_desc">
                    <img src="/img/NFTAR AJUSTADAS/OPCIÓN BANNER 5.jpg" alt="NFT" class="product_img">
                    <div class="main-article">
                            <div>
                                <h2 class="name_product">NFT original number 2</h2>
                                <p class="autor">Hugo</p>
                            </div>
                            <div>
                                <p class="price">$230.000</p>
                                <p class="price_cripto">3.0 ETH</p>
                            </div>
                            <div class="carrito_corazon">
                                <i class="fas fa-heart"></i>
                                <i class="fas fa-cart-arrow-down"></i>
                            </div>
                    </div>
                </article>

                <article class="container_product_desc">
                    <img src="/img/NFTAR AJUSTADAS/OPCION ARTE 3.jpg" alt="NFT" class="product_img">
                    <div class="main-article">
                            <div>
                                <h2 class="name_product">NFT original number 3</h2>
                                <p class="autor">Checho</p>
                            </div>
                            <div>
                                <p class="price">$70.500</p>
                                <p class="price_cripto">2.3 ETH</p>
                            </div>
                            <div class="carrito_corazon">
                                <i class="fas fa-heart"></i>
                                <i class="fas fa-cart-arrow-down"></i>
                            </div>
                    </div>
                </article>

                <article class="container_product_desc">
                    <img src="/img/NFTAR AJUSTADAS/OPCION ARTE 4.jpg" alt="NFT" class="product_img">
                    <div class="main-article">
                            <div>
                                <h2 class="name_product">NFT original number 4</h2>
                                <p class="autor">Jero</p>                   
                            </div>
                            <div>
                                <p class="price">$23.200</p>
                                <p class="price_cripto">0.9 ETH</p>
                            </div>
                            <div class="carrito_corazon">
                                <i class="fas fa-heart"></i>
                                <i class="fas fa-cart-arrow-down"></i>
                            </div>
                    </div>
                </article>

                <article class="container_product_desc">
                    <img src="/img/NFTAR AJUSTADAS/OPCIÓN BANNER 3.jpg" alt="NFT" class="product_img">
                    <div class="main-article">
                            <div>
                                <h2 class="name_product">NFT original number 5</h2>
                                <p class="autor">JoseMa</p>
                            </div>
                            <div>
                                <p class="price">$100.200</p>
                                <p class="price_cripto">0.8 ETH</p>
                            </div>
                            <div class="carrito_corazon">
                                <i class="fas fa-heart"></i>
                                <i class="fas fa-cart-arrow-down"></i>
                            </div>
                    </div>
                </article>

                <article class="container_product_desc">
                    <img src="/img/NFTAR AJUSTADAS/OPCION FOTOGRAFÍA 3.jpg" alt="NFT" class="product_img">
                    <div class="main-article">
                            <div>
                                <h2 class="name_product">NFT original number 6</h2>
                                <p class="autor">Justin Bieber</p>
                            </div>
                            <div>
                                <p class="price">$200.000</p>
                                <p class="price_cripto">5.0 ETH</p>
                            </div>
                            <div class="carrito_corazon">
                                <i class="fas fa-heart"></i>
                                <i class="fas fa-cart-arrow-down"></i>
                            </div>
                    </div>
                </article>

                <article class="container_product_desc">
                    <img src="/img/NFTAR AJUSTADAS/OPCION METAVERSO3.jpg" alt="NFT" class="product_img">
                    <div class="main-article">
                            <div>
                                <h2 class="name_product">NFT original number 6</h2>
                                <p class="autor">Snoop</p>
                            </div>
                            <div>
                                <p class="price">$150.000</p>
                                <p class="price_cripto">6.0 ETH</p>
                            </div>
                            <div class="carrito_corazon">
                                <i class="fas fa-heart"></i>
                                <i class="fas fa-cart-arrow-down"></i>
                            </div>
                    </div>
                </article>

            </div>  
        </section>
    </main>

    <%- include('../partials/footer') %>
    
    <script src='/js/popUp.js'></script>
</body>
</html>