<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head') %>
    <link href ="/css/header.css", rel="stylesheet">
    <link href ="/css/producto-edicion.css", rel="stylesheet">
    <link href ="/css/footer.css", rel="stylesheet">
    <title>NFTART - Edición de Producto</title>
</head>
<body>

    <%- include('./partials/login-register')%>
    <%- include('../partials/header') %>

    <main>

        <!-- PRODUCTO EDICIÓN -->
        <section class='main_box'>
            <form action="/">
                <div class="row">
                    <div class="col">
                        <div class="col_ele1">
                            <label for="image" class="labels">Expresión artística del NFT:</label>
                        </div>
                        <div class="col_ele2">
                            <input id="image" type="file">
                        </div>
                    </div>
                    <div class="col2">
                        <label for="NFT_name" class="labels">Nombre del NFT:</label>
                        <input id="NFT_name" type="text" placeholder="Nombre del NFT" class="form_box">
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label for="NFT_author" class="labels">Nombre del autor:</label>
                        <input id="NFT_author" type="text" placeholder="Nombre de autor" class="form_box">
                    </div>
                    <div class="col2">
                        <label for="NFT_description" class="labels">Descripción del NFT:</label>
                        <textarea id="NFT_description" placeholder="Descripción del NFT" class="form_box"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label for="NFT_theme" class="labels">Temática del NFT:</label>
                        <textarea id="NFT_theme" placeholder="Temática del NFT" class="form_box"></textarea>
                    </div>
                    <div class="col2">
                        <label for="ETH_price" class="labels">Precio en ETH:</label>
                        <input id="ETH_price" type="number" placeholder="Precio en ETH" class="form_box">
                    </div>
                </div>
                <div class="row">
                    <button id="reset_button" type="reset">BORRAR</button>
                    <button id="submit_button" type="submit">EDITAR</button>
                </div>
            </form>
        </section>

    </main>

    <%- include('../partials/footer') %>
    <script src='/js/popUp.js'></script>
</body>
</html>