<!-- FOOTER -->
<footer>
    <div class='footer__primary'>
        <section class='footer__section-one'>
            <img src="/img/logo_temporal.png">
        </section>
        <div class='footer__section-icons'>
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-twitter-square"></i>
            <i class="fab fa-github-square"></i>
            <i class="fab fa-instagram-square"></i>
        </div>
    </div>
    <hr>
    <div class='footer__secondary'>
        <section class='footer__section-two'>
            <h5>Navegación</h5>
            <ul><a href = "#">LOGIN / REGISTRO</a></ul>
            <ul><a href = "#">MARKETPLACE</a></ul>
            <ul><a href = "#">RANKING</a></ul>
        </section>
        <section class='footer__section-three'> 
            <h5>Compañia</h5>
            <ul><a href = "#">TERMINOS Y CONDICIONES</a></ul>
            <ul><a href = "#">BLOG</a></ul>
            <ul><a href = "#">NOSOTROS</a></ul>
        </section>
        <section class='footer__section-four'>
            <h5>Desarrolladores</h5>
            <ul><a href = "#">GRUPO 2</a></ul>
            <ul><a href = "#">DIGITAL HOUSE</a></ul>
            <!-- <ul><a href = "#"> DERECHOS RESERVADOS </a></ul> -->
        </section>
    </div>
    <div class="copyright">
        <p>© 2022 Grupo 2 Digital House</p>
    </div>
</footer>