<!-- HEADER -->
<header>
    <nav class='nav__primary'>
        <a href='/' class='nav__primary-figure'>
            <img src="/img/logo_movil.gif" class='nav__primary-logo'>
        </a>
        <%if (locals.isLogged === false) {%>
            <div class='nav__primary-text-1'>
                <a href="/user/login" class='nav__primary-login-1'>
                    <div class='nav__primary-element-1'><i class='fas fa-user'></i></div>
                    <div class='nav__primary-login_text-1'>LOGIN</div>
                </a>
                <a href="/user/register" class='nav__primary-register-1'>
                    REGISTRO
                </a>
        <%} else {%>
            <div class='nav__primary-text-2'>
                <a href="/user/profile" class='nav__primary-login-2'>
                    <div class='nav__primary-element-2'><img src="/img/AVATARES/<%=locals.userLogged.imagen%>"></div>
                    <div class='nav__primary-login_text-2'>HOLA, <%=locals.userLogged.usuario%></div>
                </a>
                <a href="/user/logout" class='nav__primary-register-2'>
                    CERRAR SESIÓN
                </a>
            <%}%>
        </div>
    </nav>
</header>

<!-- SUBMENU -->
<nav class='nav__secondary'>
    <div class='search-element'>
        <form action="/product/search" method="get">
            <input class='search-box' name="like" id="like" type='search' placeholder='Buscar...'></input>
            <!-- <button class='search-button' type='submit'>
                <i class='fas fa-search'></i>
            </button> -->
        </form>
    </div>
    <a href="/product/marketplace" class='nav__secondary-text'>MARKETPLACE</a>
    <a href="#" class='nav__secondary-text'>RANKING</a>
    <a href="/user/cart" class='nav__secondary-cart'>
        <div class='nav__secondary-cart_text'>CART</div>
        <div class='nav__secondary-cart_element'><i class='fas fa-shopping-cart'></i></div>
    </a>
</nav>